// place your custom styles here

h1, h2, h3, h4, h5 {
    font-family: var(--font-family);
}

.hero-info {
  display: none;
}


.image-container {
    height: 150px; width:361px;
    padding: 10px;
    float: right;
}